body {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.header {
  background-color: white;
  grid-column: 2/3;
  grid-row: 1/2;
}

.main-content {
  background-color: rgb(182, 170, 170);
  grid-column: 2/3;
  grid-row: 2/3;
}

.sidebar {
  background-color: lightskyblue;
  grid-column: 1/2;
  grid-row: 1/-1;
}
